.btn-check:focus+.btn,
.btn:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.center{
    display: flex;
    justify-content:center;
    align-items: center;
}
.main{
    flex-direction: column;
    width:10%;
}
 
.w-15{
    width:15%;
}
.w-30{
    width: 30%;
}
.w-70{
    width: 70%;
}
.w-40{
    width: 40%;
}
.w-60{
    width: 60%;
}
.body{
    flex-direction: column;
}
.border{
    border: 1px solid var(--primary-color);
}
.Gender .btn-outline-secondary{
    padding: 6px 7%;
}
.join .btn-outline-secondary{
    padding: 6px 10%;
}

@media (max-width: 480px)
{
    .card{
        width:75%;
        font-size: 12px;
    }
}
@media (max-width: 930px){
    .w-75{
        width:50%;
    }
    .w-15{
        width:25%;
    }
}